---
Checks: >-
  bugprone-*,
  readability-*,
  modernize-*,
  performance-*,
  portability-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -bugprone-multi-level-implicit-pointer-conversion,
  -readability-else-after-return,
  -readability-non-const-parameter,
  -readability-suspicious-call-argument,
  -readability-implicit-bool-conversion,
  -cppcoreguidelines-macro-usage,
  -modernize-use-using,
  -readability-magic-numbers,
  -performance-no-int-to-ptr,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-use-designated-initializers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-identifier-length,
  -modernize-avoid-c-arrays,
  -bugprone-suspicious-stringview-data-usage,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters

CheckOptions:
  readability-function-cognitive-complexity.Threshold: '70'
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: 'true'
  modernize-use-default-member-init.UseAssignment: 'true'

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: 'none'
